@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
body {
  margin: 0;
  @apply overflow-y-scroll;
  scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar using TailwindCSS */
body::-webkit-scrollbar {
  @apply hidden;
}

/* For Firefox */
body::-moz-scrollbar {
  @apply hidden;
}

.ant-menu-item-active {
  border-bottom: none;
}
